@font-face {
  font-family: "DTL Caspari Black";
  src: url("../fonts/DTL Caspari ST Black.ttf") format("truetype");
}

@font-face {
  font-family: "DTL Caspari Regular";
  src: url("../fonts/DTL Caspari ST Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DTL Caspari Bold";
  src: url("../fonts/DTL Caspari T Bold.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #80bfe4;
}

#selectJaar {
  margin-top: 0;
  margin-left: 20px;
  color: #003183;
  font-size: 75px;
  margin-bottom: 0;
  user-select: none;
  font-family: "DTL Caspari Bold";
}

#terugKnop {
  background-color: #ff7d00;
  border: none;
  margin-top: 0;
  color: white;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 30px;
  font-size: 25px;
  font-family: "DTL Caspari Regular";
  z-index: 1;
  user-select: none;
}

#video1 {
  margin-left: -200px;
  transform: translateY(20%);
  width: 800px;
  height: 800px;
  user-select: none;
  position: fixed;
  z-index: -1;
}
#graaf {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 300px;
  z-index: 1;
  user-select: none;
}
#kraan {
  position: absolute;
  top: 650px;
  right: 400px;
  width: 450px;
  z-index: 1;
  user-select: none;
}

.titel {
  font-family: "DTL Caspari Black";
  font-size: 28px;
  color: #003183;
  user-select: none;
  margin-bottom: 10px;
}

#containerContainer {
  position: absolute;
  top: 25%;
  left: 27%;
  transform: translate(-50%, -50%);
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#plaatjesContainer1,
#plaatjesContainer2 {
  position: absolute;

  width: 100%;
}

.ucp {
  width: 200px;
  height: 200px;
  object-fit: cover;
  user-select: none;
}

#videoContainer {
  width: 800px;
  position: absolute;
  left: 45%;
}

#video2 {
  position: absolute;
  width: 800px;
}

#plattegrondContainer {
  position: absolute;
  top: 56%;
  left: 500px;
  z-index: 1;
}
#plattegrond {
  width: 800px;
}
#qrContainer {
  position: absolute;
  top: 65%;
  left: 1500px;
}
#qr {
  width: 200px;
}
.roundButton {
  background-color: #ff7d00;
  border: none;
  height: 45px;
  color: white;
  border-radius: 50%;
  padding: 15px;
  margin-left: 180px;
  top: 900px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}
